* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato";
  font-style: normal;
}

/* First div classes */
.first-div {
  padding: 5.5% 5.5% 4.5%;
  background: linear-gradient(180deg, #eeeeee 0%, rgba(238, 238, 238, 0) 100%);
}

.welcome-text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.55em;
  color: #999999;
  line-height: 110.5%;
  text-align: right;
}

.aftershoot-black {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 1.2%;
}

.hey-text {
  font-size: 30px;
  font-weight: bold;
  margin-top: 4%;
  line-height: 110.5%;
  color: #333333;
}

.user-name {
  color: #00a5b6;
}

.description {
  font-size: 16px;
  line-height: 150%;
  font-weight: normal;

  margin-top: 4%;
  margin-right: 30%;
}

.link {
  color: #00a5b6;
  text-decoration: underline;
  cursor: pointer;
}

/* Second div classes */
.second-div {
  padding: 5.5% 5.5% 1.2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f3f3f3;
}

.details-heading {
  font-weight: bold;
  font-size: 30px;
  line-height: 110.5%;
  height: auto;
  width: 50%;
  color: #333333;
}

.highlight-text {
  color: #00a5b6;
}

.project-name {
  font-weight: normal;
  font-size: 24px;
  line-height: 110.5%;
  color: #666666;
  margin-top: 2%;
  margin-bottom: 5.5%;
}

.project-chart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  right: 5.5%;
  margin-top: 3.5%;
  position: absolute;
}

.project-details,
.project-chart {
  width: 50%;
}

.project-details {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.details-column {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.details-column-1,
.details-column-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.details-value {
  font-weight: bold;
  font-size: 40px;
  line-height: 110.5%;
  margin-bottom: 3%;
  color: #00a5b6;
}

.details-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  letter-spacing: 0.01em;
  color: #333333;
}

/* Third div classes */
.third-div {
  padding: 5.5%;
}

.save-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 110.5%;
  letter-spacing: 0.55em;
  text-align: center;
  color: #999999;
}

.user-image {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 3.5%;
}

.time-saved {
  font-weight: bold;
  font-size: 40px;
  line-height: 110.5%;
  color: #00a5b6;
  text-align: center;
}

.time-saved-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #333333;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.project-button {
  background-color: #00a5b6;
  border-radius: 40px;
  color: white;
  border: none;
  font-size: 14px;
  padding: 10px 22px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/* Fourth div classes */
.fourth-div {
  padding: 5.5%;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aftershoot-white {
  display: flex;
  flex-direction: row;
}

.aftershoot-white-text {
  padding-left: 10px;
}

.contact-methods {
  display: flex;
  flex-direction: row;
}

.contact-details {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.contact-social {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding-left: 40px;
}

.help-email {
  font-size: 14px;
  font-weight: bold;
  color: #11a6b5;
  padding-top: 5%;
  cursor: pointer;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
}

.social-media-icon {
  cursor: pointer;
  padding-right: 20px;
}

@media (max-width: 750px) {
  /* First div */
  .first-div {
    margin-bottom: 8%;
  }

  .welcome-text {
    font-size: 12px;
  }

  .hey-text {
    font-size: 24px;
    margin-top: 10%;
  }

  .description {
    font-size: 14px;
    margin-top: 6%;
    margin-right: 0;
  }

  /* Second div */
  .second-div {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .details-heading {
    font-size: 24px;
    width: 100%;
  }

  .project-name {
    font-size: 18px;
  }

  .project-chart {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    right: 0;
  }

  .project-details,
  .project-chart {
    width: 100%;
  }

  .project-details {
    align-items: center;
    justify-content: space-around;
  }

  .details-column {
    margin-right: 0;
  }

  .details-column-2 {
    margin: 0;
  }

  .details-column-1 {
    margin: 0;
    margin-bottom: 15%;
  }

  .details-value {
    font-size: 30px;
  }

  .details-title {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 00.01em;
  }

  /* Third div */
  .third-div {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .user-image {
    margin-top: 8%;
    margin-bottom: 8%;
  }

  .save-text {
    font-size: 10px;
  }

  .time-saved {
    font-size: 30px;
  }

  .time-saved-description {
    margin: 6% 0 10%;
    font-size: 14px;
  }

  /* Fourth div */
  .fourth-div {
    flex-direction: column;
  }

  .contact-methods {
    flex-direction: column;
  }

  .contact-social {
    padding-left: 0;
  }

  .contact-details {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .social-media {
    margin-top: 2%;
  }

  .help-email {
    padding-top: 2%;
  }
}
